*.o
*.a
*.so
_obj
_test
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe
*.exe~
*.test
*.prof
*.rar
*.zip
*.gz
*.psd
*.bmd
*.cfg
*.pptx
*.log
log/*
*nohup.out
*settings.pyc
*.sublime-project
*.sublime-workspace
!.gitkeep
.DS_Store
*/.DS_Store
/.idea
.idea/
.idea/*
/.vscode
/output
output/
output/*
*.local.yml
__pycache__/
__pycache__/*
*/__pycache__
123*.go
123*.py
123*.json
123*.json.thrift
qa_test/
